<!doctype html>
<html lang="en">    
<head>
    <meta charset="utf-8">
    <title>Demystifying Credit</title>
    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">    
</head>
 
<body>
  <div class="reveal">
    <div class="slides">
      <section>
          <h1>Demystifying Credit</h1>
          <p>Blake Johnson</p>
          <p>Flatiron School TA</p>
          <p>Hacker School Fall '12</p>
          <p>@blake41</p>
      </section>

      <section id="show-a-link">
          <h2>Why Is Credit Important?</h2>
          <img src="http://iwt.wpengine.netdna-cdn.com/wp-content/uploads/2009/05/picture-16.png">
          <p style="font-size: 18px;">Chart from <a>myfico.com</a> mortgage calculator, May 2009</p>
          <p>Save $300/month for 30 years = 108K</p>
      </section>

      <section>
          <h3>What's the difference between my Credit Score and my Credit Report?</h3>
          <ul>
          	<li>Your Credit Score is a number lenders use to determine the interest rate to charge you</li>
          	<li>Your Credit Report lists all the interaction you've had with credit in the past</li>
          	<ul>
          		<li>Names/Addresses/Employers you've had in the past</li>
          		<li>Applications for credit (inquiries)</li>
          		<li>All credit extended to you for the past 10 years and your history of on time or late payment</li>
          		<li>Delinquencies</li>
          	</ul>
          </ul>
      </section>

      <section>
      	<h3>What's a Credit Bureau</h3>
      	<ul>
      		<li>There are 3 credit bureaus</li>
      			<ul>
      				<li>Equifax</li>
      				<li>Experian (Most difficult)</li>
      				<li>Transunion</li>
      			</ul>
      		<li>They're regulated by the FDCPA, FCRA and a 2003 update to the FCRA, the FACTA</li>
      		<li><a href="#/appendix_a">See notes in appendix</a></li>
      	</ul>	
      </section>
      <section>
      	<h3>How do I obtain a copy of my credit report?</h3>
      	<ul>
      		<li>You're entitled to a free copy once per year from <a href="www.annualcreditreport.com">AnnualCreditReport.com</a></li>
      		<li>
      			I like <a href="www.creditchecktotal.com">CreditCheckTotal.com</a>
      		</li>
      	</ul>
      </section>
      <section>
        <h3>Do I really need to check my credit report?</h3>
        <ul>
          <li>One in four consumers identified errors on their credit reports that might affect their credit scores</li>
          <li>
            One in five consumers had an error that was corrected by a credit reporting agency (CRA) after it was disputed, on at least one of their three credit reports</li>
          <li>
            Four out of five consumers who filed disputes experienced some modification to their credit report</li>
          <li>Slightly more than one in 10 consumers saw a change in their credit score after the CRAs modified errors on their credit report</li>
          <li>Approximately one in 20 consumers had a maximum score change of more than 25 points and only one in 250 consumers had a maximum score change of more than 100 points.</li>
        </ul>
      </section>
      <section>
        <h3>What if something is incorrect on my credit report?</h3>
        <ul>
          <li>File a dispute online or in writing with each credit bureau</li>
          <li>It's the CRA's responsibility to validate the item with its original source of remove it if it cannot be validated</li>
          <li>If you have negative items or bad credit and want to "repair" your credit
            <ul>
              <li>
                <a href="http://creditboards.com/forums/index.php?showtopic=142032">creditboards.com/primer</a> 
              </li>
            </ul>
          </li>
        </ul>
      </section>
      
      <section>
        <h3>How can I get a lower interest rate on my credit card?</h3>
        <p>Call them and ask them nicely</p>
        <p>“Hi I got an offer in the mail to transfer my balance to a lower rate than I’m paying now, I was wondering if you guys can offer me a lower APR than I am currently paying”</p>
        <p>I've had my rates reduced from 30% to 13%!</p>
        <p>Call banks and credit cards companies and ask to have fees removed</p>
      </section>

      <section>
        <h3>Credit Score - FICO vs FAKO</h3>
          <ul>
            <li>All 3 Credit Bureaus sell credit scores but these are not the credit scores banks use to determine creditworthiness</li>
            <li>FICO (formerly Fair Isaac Corp) takes your credit report from each CRA and calculates your FICO score based on their algorithm</li>
            <li>Each score is different because each bureau has different information on you</li>
            <li>When you apply for credit the bank will pull your credit report and FICO score from only one bureau</li>
          </ul>
      </section>
      <section>
        <h3>Which CRA do the major banks use? (NYC only)</h3>
        <ul>
          <li>Amex - Experian</li>
          <li>Chase - Experian</li>
          <li>Barclays - Transunion</li>
          <li>Walmart - Transunion</li>
          <li>Capital One (all 3!)</li>
          <li>Citibank - Equifax</li>
        </ul>

      </section>

      <section>
        <h3>How can I obtain my Credit Scores?</h3>
        <p>Only <a href="www.myfico.com">myfico.com</a> sells real FICO scores (Your Equifax score I believe) </p>
      </section>
      <section>
        <h3>Is there a free way to get my FICO score periodically?</h3>
        <ul>
          <li><a href="www.psecu.com">Penn State Employees Credit Union</a> sends monthly Experian FICO score</li>
          <li>Sign up for a walmart credit card to get montly Transunion FICO score</li>
          <li>Sign up for <a href="www.dcu.org">Digital Credit Union</a> checking account and credit card to get montly Equifax FICO score</li>
        </ul>
      </section>
      <section>
        <h3>How can I monitor my credit score/report?</h3>
        <ul>
          <li><a href="www.creditkarma.com">Credit Karma</a> gives you the Transunion FAKO score</li>
          <li><a href="www.creditsesame.com">Credit Sesame</a> gives you the Experian FAKO score</li>
        </ul>
      </section>

      <section>
        <h3>How is my FICO score calculated?</h3>
        <p>It's a secret! But here's what we DO know</p>
        <img src="http://www.myfico.com/images/CreditEducation/ce_scorebreakdown.png">
        <p><a href="#/appendix_b">See appendix for more details</a></p>
      </section>

      <section>
        <h3>Will applying for credit hurt my credit score?</h3>
        <p>“If you apply for several credit cards within a short period of time, multiple inquiries will appear on your report. Looking for new credit can equate with higher risk, but most credit scores are not affected by multiple inquiries from auto, mortgage or student loan lenders within a short period of time. Typically, these are treated as a single inquiry and will have little impact on the credit score.”</p>
        <p>“For most people, one additional credit inquiry will take less than five points off their FICO score. For perspective, the full range for FICO scores is 300-850. Inquiries can have a greater impact if you have few accounts or a short credit history. Large numbers of inquiries also mean greater risk. While inquiries often can play a part in assessing risk, they play a minor part. Much more important factors for your score are how timely you pay your bills and your overall debt burden as indicated on your credit report.”</p>
      </section>

      <section>
        <h3>How long do credit related things remain on my credit report?</h3>
        <ul>
          <li>Inquiries remain on your credit report for two years, although FICO® scores only consider inquiries from the last 12 months. FICO scores do a good job of distinguishing between a search for many new credit accounts and rate shopping for one new account. Most recent 6 months matters the most.</li>
          <li>7 Years for delinquencies (late or non-payment)</li>
          <li>10 years for liens of bankruptcies</li>
          <li>10 years for positive items</li>
        </ul>
      </section>
      <section>
        <h3>What's an inquiry?</h3>
        <ul>
          <li>Credit Reports keep track of each time you request credit</li>
            <ul>A Hard Pull is you requesting credit which hurts your score</ul>
            <ul>A Soft Pull is a creditor requesting your report which does not hurt your score and is invisible to lenders</ul>
            <ul>Requesting a CLI is often a hard pull but sometimes a soft pull depending on the bank</ul>
        </ul>
      </section>

      <section>
        <h3>Why would I want to request a CLI?</h3>
        <ul>
          <li>One of the largest portions of your credit score is determined by the percentage utilization of credit</li>
          <li>So counterintuitively as you get more credit your score goes up because the denominator is lower and thus the percentage is lower</li>
        </ul>
        <p>For example $1000 utilization out of a $2000 limit is a 50% utilization which is considered very high/risky by lenders</p>
        <p>If you get a new $5000 card and spend the same amount it's $1000 out of $6000 or 16.6% or much much lower.</p>
      </section>
			<section id="appendix_a">
				<ul>
					<li>Provide a consumer with information about him or her in the agency's files and to take steps to verify the accuracy of information disputed by a consumer. Under the Fair and Accurate Credit Transactions Act (FACTA), an amendment to the FCRA passed in 2003, consumers are able to receive one free credit report a year. The free report can be requested by telephone, mail, or through the government-authorized website, annualcreditreport.com.
				</li>
				<li>
					If negative information is removed as a result of a consumer's dispute, it may not be reinserted without notifying the consumer within five days, in writing.
				</li>
					<li>
						CRAs may not retain negative information for an excessive period. The FCRA describes how long negative information, such as late payments, bankruptcies, tax liens or judgments may stay on a consumer's credit report — typically seven years from the date of the delinquency. The exceptions: bankruptcies (10 years) and tax liens (seven years from the time they are paid).
					</li>
				</ul>
			</section>

      <section id="appendix_b">
        <h3>Components of FICO score</h3>
        <ul>
          <li>Payment History
            <ul>
              <li>Account payment information on specific types of accounts (credit cards, retail accounts, installment loans, finance company accounts, mortgage, etc.)</li>
              <li>Presence of adverse public records (bankruptcy, judgements, suits, liens, wage attachments, etc.), collection items, and/or delinquency (past due items)</li>
              <li>Severity of delinquency (how long past due)</li>
              <li>Amount past due on delinquent accounts or collection items</li>
              <li>Time since (recency of) past due items (delinquency), adverse public records (if any), or collection items (if any)</li>
              <li>Number of past due items on file</li>
              <li>Number of accounts paid as agreed</li>
            </ul>
          </li>
        </ul>
      </section>
      <section>
        <ul>
          <li>Amounts Owed
            <ul>
              <li>Amount owing on accounts</li>
              <li>Amount owing on specific types of accounts</li>
              <li>Lack of a specific type of balance, in some cases</li>
              <li>Number of accounts with balances</li>
              <li>Proportion of credit lines used (proportion of balances to total credit limits on certain types of revolving accounts)</li>
              <li>Proportion of installment loan amounts still owing (proportion of balance to original loan amount on certain types of installment loans)</li>
            </ul>
          </li>
          <li>Length of Credit History
            <ul>
              <li>Time since accounts opened</li>
              <li>Time since accounts opened, by specific type of account</li>
              <li>Time since account activity</li>
            </ul>
          </li>
        </ul>
      </section>

      <section>
        <ul>
          <li>New Credit
            <ul>
              <li>Number of recently opened accounts, and proportion of accounts that are recently opened, by type of account</li>
              <li>Number of recent credit inquiries</li>
              <li>Time since recent account opening(s), by type of account</li>
              <li>Time since credit inquiry(s)</li>
              <li>Re-establishment of positive credit history following past payment problems</li>
            </ul>
          </li>
          <li>Types of Credit Used
            <ul>
              <li>Number of (presence, prevalence, and recent information on) various types of accounts (credit cards, retail accounts, installment loans, mortgage, consumer finance accounts, etc.)</li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
 
    <script>
        // Required, even if empty.
        Reveal.initialize({
        });
    </script>
</body>
</html>